body {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto;
    font-family: "Funnel Sans", serif;
}

header {
    display: block;
    text-align: center;
    padding: 1px;
}